<div id="ratings_and_bookmarks">
<% stars = @product.stars %>
<% reviews_count = @product.reviews_count %>
<div class="ratings" style="margin-right:12px;float:left;width:200px;">
	<span style="float:left;">Rating:&nbsp;&nbsp;</span>
	<span style="float:left;" title="<%= txt_stars(stars) %>">
  		<%= render :partial => "spree/reviews/stars", :locals => {:stars => stars} %>
	</span>
</div>

<% if @product.has_variants? %>
	<%= display_bookmarks @product.name, product_url(@product), @product.variants.first.images.count > 0 ? @product.variants.first.images.first.attachment.url(:product) : "" %>
<% else %>
	<%= display_bookmarks @product.name, product_url(@product), @product.images.count > 0 ? @product.images.first.attachment.url(:product) : "" %>
<% end %>

<div>