<% if @order.state == 'address' %>
<p style="font-size:16px;line-height:20px;padding:10px;background-color:#efefef;">
Please bear in mind that an adult signature is required for delivery. Therefore if possible, we strongly suggest delivery to an office address to increase the likelihood of completing the delivery on the 1st attempt for the ease and convenience of your gift recipient.
</p>
<% end %>