<p id="minstrs" data-hook>
  <%= form.label :special_instructions, t(:shipping_instructions) %><br />
  <%= form.text_area :special_instructions, :cols => 40, :rows => 7, :placeholder => 'Please add any special instructions to facilitate delivery. Please remember an adult signature with photo ID is required. Shipments cannot be left unattended at a front door of a home.' %>
</p>
