/*--------------------------------------
  | Font sizes
  |--------------------------------------
  |- Navigation                         
  |                                    */
      $header_navigation_font_size:           14px;
      $horizontal_navigation_font_size:       16px;
      $main_navigation_header_font_size:      14px;
      $main_navigation_font_size:             12px;
/*|------------------------------------
  |- Product Listing                         
  |                                  */
      $product_list_name_font_size:           12px;
      $product_list_price_font_size:          16px;
      $product_list_header_font_size:         20px;
      $product_list_search_font_size:         14px;
/*|------------------------------------
  |- Product Details
  |                                  */
      $product_detail_name_font_size:         34px;
      $product_detail_description_font_size:  12px;
      $product_detail_price_font_size:        20px;
      $product_detail_title_font_size:        14px;
/*|------------------------------------
  |- Basic
  |                                  */
      $heading_font_size:                     24px;
      $sub_heading_font_size:                 14px;
      $button_font_size:                      12px;
      $input_box_font_size:                   13px;
      $base_font_size:                        12px;

/* #Media Queries
================================================== */

footer#footer {padding-top:20px;padding-bottom:10px;}
footer#footer ul {margin:0;height:auto !important;}
footer#footer ul li {padding-bottom:10px;}

#search-box {margin-top:0px;position:absolute;right:0px;top:40px;}

.home-promo {float:right;width:300px;height:350px;border-bottom:4px double #978F82;}
.home-p1 {width:300px;height:144px;position:relative;margin-top:55px;}
.home-p2 {background-repeat:no-repeat;position:relative;width:300px;height:146px;}
.home-c1 {position:relative;float:left;width:310px;height:146px;margin-right:10px;border-bottom:4px double #978F82;}
.home-c2 {position:relative;float:left;width:310px;height:146px;margin-right:10px;border-bottom:4px double #978F82;}
.home-c3 {position:relative;float:left;width:300px;height:146px;border-bottom:4px double #978F82;}

.home-gp {float:left;width:310px;height:146px;margin-right:10px;position:relative;}
.home-dl {float:left;width:310px;height:146px;margin-right:10px;position:relative;}
.home-nl {float:left;width:300px;height:146px;}

/* Slider */
.theme-default #slider {
  margin:0 auto 0 auto;
  width:630px; /* Make sure your images are the same size */
  height:350px; /* Make sure your images are the same size */
}
.slider-wrapper {
  margin:0;
}
#spree-slider {
	float:left;width:630px;height:350px;border-bottom:4px double #978F82;
}
.theme-default .nivoSlider {
	box-shadow:0 0 0 0 #4A4A4A;
}
.theme-default .nivo-controlNav {display:none;}

/* Dialogs */
.gift-packaging-dialog {
	.product-image {width:100%;text-align:center;}
	.product-image img {float:none;text-decoration:none;}	
	.product-price {text-align:center;}
	
}
.ui-dialog {
	.buttons {margin:24px;text-align:center;}
}
#gift-packaging-mockup li {cursor: hand; cursor: pointer;}
.gift-packaging-dialog .ui-icon {display:inline;}
.gift-packaging-dialog a.button {color:#fff;}
.gift-packaging-dialog div.price {font-size:36px;line-height:36px;color:#aaa;font-weight:bold}
.gift-packaging-dialog div.price:first-letter {font-size:28px;vertical-align:super;}

.minicart-product {float:left;margin-top:54px;width:240px;}
.minicart-product-description {max-height:140px;overflow:hidden;}


button.navbar-toggle {
	.icon-bar {background-color:#aaa;}
	background:none;
	border:none;
	
}
.tile-left {float:left;max-width:50px;}
.tile-right {float:left;min-height:110px;text-align:left;width:100px;}
/* Desktop only */
@media screen and (min-width: 1025px) {
	body {background:url(/assets/background.jpg) no-repeat;min-width:980px;background-size:100%;}
	.container {
		-moz-box-shadow: 0 0 16px 5px #444;
		-webkit-box-shadow: 0 0 16px 5px #444;
		box-shadow: 0 0 16px 5px #444;
		width:980px;
	}
		
}

/* adjust for iPad */
@media only screen and (device-height: 1024px) and (orientation : landscape) {
	footer#footer ul li {margin-right:25px;}
}

  /* Smaller than standard 960 (devices and browsers) */
  @media only screen and (max-width: 959px) {

	footer#footer > ul > li:last-child {
		float:left;
		margin-right:0px;
	}
	footer#footer li {width:200px;margin-right:0px;}
	#content #spree-slider {width:100%;}
	div#slider.nivoSlider {width:100%;}
	div#slider.nivoSlider a img {scale:contain;}
	.home-promo {width:100%;margin-top:12px;height:146px;}
	.home-p1 {float:left;margin-top:0px;}
	.home-p2 {float:right;}
	.home-c1, .home-c2, .home-c3 {width:33%;height:116px;margin-right:0px;background-size:100%;}
	.home-c2 {margin-left:4px;}
	.home-c3 {float:right;}
	.home-gp, .home-dl, .home-nl {width:100%;}
  }

  /* Tablet Portrait size to standard 960 (devices and browsers) */
  @media only screen and (min-width: 768px) and (max-width: 959px) {

	.container {width:98%;padding:4px 0px 0px 0px;}

	aside#sidebar {display:none;}

    p[data-hook="use_billing"] {
      margin-top: -15px;
    } 
   ul#products .columns {width:164px;margin-left:0px;}
  }

  /* All Mobile Sizes (devices and browser) */
  @media only screen and (max-width: 767px) {        

    html {
      -webkit-text-size-adjust: none;
    }
	.theme-default #slider {height:auto !important;max-height:350px;}
	#content #spree-slider {height:auto !important;}
	.container {width:95%;}
    
	.home-p1, .home-p2 {max-width:50%;background-size:contain;}
	.home-p1 {float:left;}
	.home-p2 {float:right;}
    footer#footer {
      width: 640px;
    }
	aside#sidebar {display:none;}
	
	div.six.columns[data-hook="product_left_part"] {float:left;width:250px;}
	div.columns[data-hook="product_right_part"] {float:none;width:100%;}
	

	.home-gp, .home-dl, .home-nl {float:none;width:100%;}

	#search-box {top:104px;right:auto;left:0px;}
	ul#nav-bar li {display:block;}
	
	
    #order_details .steps-data div.columns, 
    #order_summary .steps-data div.columns {
      padding: 0;
      margin: 0;

      &:first-child {
        margin: 0
      }
    }

    nav#taxonomies {
      text-align: center;

      ul {
        padding-left: 0 !important;
        list-style: none !important;
      }
    }
	nav#top-nav-bar {width:100px;}
    ul#nav-bar {
      text-align: right;
    }

    .steps-data div.columns {
      margin-bottom: 15px;
      text-align: center;
    }

    #order_details, #order {
      table[data-hook="order_details"] {
        width: 100%;
      } 
    }

    #update-cart {
      #subtotal, .links {
        width: 50%;
        float: left;
        text-align: left;
      }
      #subtotal {
        text-align: right;
      }
    }
  }

  /* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
  @media only screen and (min-width: 480px) and (max-width: 767px) {

    footer#footer {
      width: auto !important;
    }
	#content {width:100%;}
    input, select {
      vertical-align: baseline !important;
    }

    figure#logo {
      text-align: left;
    }

    #link-to-login {
      display: block;
      text-align: center;
    }

    ul#products {
      margin-left: 0;
      margin-right: -20px;

      li {
        width: 164px;
        margin-right: 0px;
      }
    }
	div.six.columns[data-hook="product_left_part"] {float:left;width:140px;}

    table#cart-detail, table[data-hook="order_details"] {
      tbody {
        tr {
          td[data-hook="cart_item_description"], td[data-hook="order_item_description"] {
            font-size: $base_font_size - 1;
            line-height: 15px;
            width: 100px;

            h4 {
              font-size: $base_font_size + 2;
              line-height: 17px;
              margin-bottom: 10px;
            }
          }
          td[data-hook="cart_item_price"], td[data-hook="cart_item_total"],
          td[data-hook="order_item_price"], td[data-hook="order_item_total"]  {
            font-size: $base_font_size !important; 
          }
          td[data-hook="cart_item_image"], td[data-hook="order_item_image"] {
            img {
              width: 70px;
            }
          }
        }
      }  
    }

  }


  /* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
  @media only screen and (max-width: 479px) {
    .container {width:98%;padding:4px 0px 0px 0px;}
	#content {width:100%;}
	.home-promo {height:auto !important;}
	.home-p1, .home-p2 {float:none;width:100%;max-width:100%;background-position-x:center;text-align:left;}
	.home-c1, .home-c2, .home-c3 {max-width:100%;width:100%;background-size:contain;background-position-x:center;}
	.home-gp, .home-dl, .home-nl {text-align:left;}
	
	footer#footer {width:auto !important;}
    .progress-steps li {
      padding: 0;
      margin: 0;
      width: 50%;

      span {
        display: block;
        padding: 10px 20px;
      }
    }
	.taxon-image img {width:80% !important;height:80% important;}
	div.six.columns[data-hook="product_left_part"] {float:left;width:120px;}
	div.columns[data-hook="product_right_part"] {text-align:left;}
	#minicart-dialog {
		.product-image {display:none;}
		.minicart-product {margin-top:auto;}
		
	}

	#login-dialog-form {
		#existing-customer, new_customer {width:260px;}
	}
    #shipping_method p label {
      float: none;
      display: block;
      text-align: center;
      margin-right: 0;
    }

    p[data-hook="use_billing"] {
      float: none;
      margin-top: 0;
    }

    table#cart-detail, table[data-hook="order_details"] {
      tbody {
        tr {
          td[data-hook="cart_item_description"], td[data-hook="order_item_description"] {
            padding: 0 !important;
            text-indent: -9999px;

            h4 {
              display: none;
            }
          }
          td[data-hook="cart_item_image"], td[data-hook="order_item_image"] {
            img {
              width: 70px;
            }
          }
          td[data-hook="cart_item_price"], td[data-hook="cart_item_total"] {
            font-size: $base_font_size + 2 !important; 
          }
        }
      }  
    }

    table.order-summary {
      display: block; position: relative; width: 100%;

      thead { display: block; float: left; }
      tbody { display: block; width: auto; position: relative; overflow-x: auto; white-space: nowrap; }
      thead tr { display: block; }
      th { display: block; }
      tbody tr { display: inline-block; vertical-align: top; }
      td { display: block; min-height: 1.25em; }
    }
    

    figure#logo {
      text-align: center;
    }

    #link-to-login {
      display: block;
      text-align: center;
    }

    #search-bar {
      display: block;
      text-align: center;

      select {
        margin-bottom: 10px;
      }
    }

    aside#sidebar {
      text-align: center;

      ul {
        padding-left: 0 !important;

        li {
          list-style-type: none;
        }
      }
    }

    ul#products {

      li {
        width: 155px;
        margin-right: 0px;

        &.secondary, &.omega {
          margin-right: 0;
        }
      }
    }
	.tile-right {width:85px;}

    #content {
      text-align: center;
    }
        
  }

/* Experimental or in progress */
