$product_link_text_color:   #D34C2F;
$light-grey: #d0c7c2;
$dark-grey: #593d2b;
$red: #D34C2F;
$blue: #63B8D6;
$link_text_color:           #593d2b;
$link_hover_color:			#D34C2F;

$ff_base:       'Frutiger', sans-serif;
$ff_serif:       'MrsEaves', serif;


body {background:url(/assets/background.jpg) no-repeat;min-width:980px;background-size:100%;}
.container {width:980px;height:auto;min-height:600px;margin:0 auto;padding:4px 16px 16px 16px;
	position:relative;background-color:white;
	-moz-box-shadow: 0 0 16px 5px #444;
	-webkit-box-shadow: 0 0 16px 5px #444;
	box-shadow: 0 0 16px 5px #444;
}
#wrapper {min-height:600px;}
header {position:relative;height:120px;}

h1, h3 {color:$product_link_text_color;font-family:$ff_serif;}

/* Navbar and logo */
figure#logo {position:relative;top:15px;width:50%;height:50px;}
nav#top-nav-bar {float:right;margin:0;position:absolute;top:0px;right:0px;}
nav#top-nav-bar ul li a {text-transform: none;font-size:12px;}


nav#top-nav-bar #link-to-cart {padding-left: 24px;background: url("cart-small.png") no-repeat left center;}
#search-bar {margin-top:32px;}

/* top-menu */
div#top-menu {border-bottom:4px double $dark_grey;height:22px;position:absolute;top:108px;;z-index:100;margin-bottom:12px;clear:both;width:100%;}
div#top-menu ul {list-style:none;margin-left:0;margin-right:0;top:22px;}
div#top-menu > ul > li {float:left;padding-right:12px;font-size:16px;}
div#top-menu > ul > li > a {text-transform:uppercase;letter-spacing:2px;font-family:$ff_serif;font-size:18px;} 
div#top-menu > ul > li > ul {visibility:hidden;position:absolute;left:0px;padding:12px;font-size:12px;width:956px;}
div#top-menu > ul > li > ul {
	background-color:white;
	-moz-box-shadow: 0px 4px 6px 1px rgba(100,100,100,0.5);
	-webkit-box-shadow: 0px 4px 6px 1px rgba(100,100,100,0.5);
	box-shadow: 0px 4px 6px 1px rgba(100,100,100,0.5);
	border:4px double $dark-grey;
	
	-webkit-column-count: 5;
	-moz-column-count: 5;
	column-count: 5;
	-webkit-column-gap: 20px;
	-moz-column-gap: 20px;
	column-gap: 20px;
	
}
div#top-menu > ul > li > ul > li {
	-webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
	column-break-inside: avoid;
}
/* add spacer in between top level list to make spacing equal */
div#top-menu > ul > li {padding-right:0px;height:22px;}
div#top-menu > ul > li:after {content:'';display:inline-block;width:27px;}
div#top-menu > ul > li:last-child:after {width:0px;}
div#top-menu > ul > li:last-child {float:right;}

div#top-menu ul ul ul {visibility:hidden;}
// Mouse over first level:
div#top-menu ul li:hover ul {visibility:visible;}
div#top-menu > ul > li > ul > li > a {color:$red;font-family:$ff_serif;font-size:16px;}
div#top-menu > ul > li > ul > li > ul > li > a {font-weight:bold;}


/* Breadcrumbs */
#breadcrumbs li a {font-family:$ff_serif;text-transform:uppercase;font-size:14px;}

/* Footer */
footer#footer {background-color:#e5e4e0;padding:4px;font-size:12px;height:58px;}
div#footer-left ul, div#footer-right ul {list-style:none;margin:4px;height:14px;}
div#footer-left ul li {float:left;padding-right:8px;}
div#footer-right ul li {float:right;padding-left:8px;text-transform:uppercase;font-family:$ff_serif;}
div#footer-right {float:right;width:530px;}
footer#footer hr {margin:7px;height:0.2em;background-color:$dark-grey;border-color:$light-grey;width:98%;}



/* Product details */
#product-details span.price {font-size:72px;line-height:72px;display:block;}
#product-details span.price:first-letter {font-size:40px;vertical-align:super;}


/* hide the taxons in the side bar by brute force for now */
div#wrapper #taxonomies {display:none;}

/* recommendations & reviews */
#recommendations, #reviews {clear:both;border-top:4px double $dark-grey;padding-top:12px;}
.recommendations-title, .reviews-title {clear:both;font-family:$ff_serif;text-transform:uppercase;font-size:14px;}

#reviews div.star-rating, #reviews div.star-rating a, div.ratings div.star-rating, div.ratings div.star-rating a {
  background: url('/assets/star-red.gif') no-repeat 0 0px
}

/* main product image */
#product-images #main-image {border:none;}
#product-images #main-image img {max-height:500px;}

#cart-form {height:150px;}

/* Properties */
table#product-properties {margin-top:24px;border:none;}
table#product-properties tr.odd, table#product-properties tr.even {background:none;}

/* silder */
div#slider .nivo-caption {right:0;height:250px;width:50%;color:#333;background:none;left:315px;}
div#slider .nivo-controlNav {right:0;bottom:0;left:auto;}

/* Search box - needs to have same zINdex as menu to allow autosuggest to be on top of the menu */
#keywords {z-index:100;}

/* minicart styling*/
div#minicart {background-color:#eeeeee;z-index:200;}

/* Modal dialogs */
div.ui-dialog-titlebar {border:none;background:none;}
div.ui-dialog .dialog-content {background-color:#f1f1f1;}
#minicart-dialog a.button {color:#fff;}
#minicart-dialog a {text-decoration:none;}
#minicart-dialog div.star-rating, #minicart-dialog div.star-rating a {background: url('/assets/star-red.gif') no-repeat 0 0px}

/* shipping methods on checkout delivery page */
fieldset#shipping_method label {float:none;display:block;}

/* whishlist, gift packaging, whiskey of the month styling on product page */
#wishlist-form a, .gift-options-available a, .whiskey-of-the-month a {vertical-align:top;height:34px;line-height:34px;}
#wishlist-form span, .gift-options-available span, .whiskey-of-the-month span {height:34px;width:34px;display:inline-block;}
#wishlist-form span {background:url(product-sprite.png) no-repeat 0 0;}
#wishlist-form:hover span {background:url(product-sprite.png) no-repeat 0 -35px;}
#wishlist-form {margin-top:0px;}

.gift-options-available span {background:url(product-sprite.png) no-repeat -34px 0;}
.gift-options-available:hover span {background:url(product-sprite.png) no-repeat -34px -35px;}

.whiskey-of-the-month span {background:url(product-sprite.png) no-repeat -68px 0;}
.whiskey-of-the-month:hover span {background:url(product-sprite.png) no-repeat -68px -35px;}

/* Hide until functionality is built */
.whiskey-of-the-month {display:none;}

/* wishlists */
div#wishlist_header h1, #wishlist_header div {float:none;}
.footer_links {margin-top:24px;}
table#wishlist a, table#wishlist input[type="submit"] {background:none;border:none;color:$link_text_color;}
table#wishlist a:hover, table#wishlist input[type="submit"]:hover {color:$link_hover_color;}
