$product_link_text_color:   #D34C2F;
$light-grey: #d0c7c2;
$dark-grey: #593d2b;
$red: #C13828;
$blue: #63B8D6;
$link_text_color:           #593d2b;
$link_hover_color:			#C13828;
$button_background_color:   #C13828;
$button_background_hover_color:   #B1291D;

$product_background_color:  #FFFFFF;
$product_title_text_color:  #C13828;
$product_body_text_color:   #593d2b;
$product_link_text_color:   #C13828;

$ff_base:        'CartoGothic', sans-serif;
$ff_serif:       'MrsEaves', serif;


body {background:url(/assets/background.jpg) no-repeat;min-width:980px;background-size:100%;}
.container {width:980px;height:auto;min-height:600px;margin:0 auto;padding:4px 16px 16px 16px;
	position:relative;background-color:white;
	-moz-box-shadow: 0 0 16px 5px #444;
	-webkit-box-shadow: 0 0 16px 5px #444;
	box-shadow: 0 0 16px 5px #444;
}
#wrapper {min-height:600px;margin-top:24px;}
header {position:relative;height:120px;}

h1, h3 {color:$product_link_text_color;font-family:$ff_serif;line-height:1.2em;}

/* Navbar and logo */
figure#logo {position:relative;top:10px;width:50%;height:50px;}
nav#top-nav-bar {float:right;margin:0;position:absolute;top:0px;right:0px;}
nav#top-nav-bar ul li a {text-transform: none;font-size:12px;}


nav#top-nav-bar #link-to-cart {padding-left: 24px;background: url("cart-small.png") no-repeat left center;}
#search-bar {margin-top:32px;}

/* top-menu */
div#top-menu {border-bottom:4px double $dark_grey;height:22px;position:absolute;top:108px;;z-index:100;margin-bottom:12px;clear:both;width:100%;}
div#top-menu ul {list-style:none;margin-left:0;margin-right:0;top:22px;}
div#top-menu > ul > li {float:left;padding-right:12px;font-size:16px;}
div#top-menu > ul > li > a, div#top-menu > ul > li > span {text-transform:uppercase;letter-spacing:2px;font-family:$ff_serif;font-size:18px;} 
div#top-menu > ul > li > ul {visibility:hidden;position:absolute;left:0px;padding:12px;font-size:12px;width:956px;}
div#top-menu > ul > li > ul {
	background-color:white;
	-moz-box-shadow: 0px 4px 6px 1px rgba(100,100,100,0.5);
	-webkit-box-shadow: 0px 4px 6px 1px rgba(100,100,100,0.5);
	box-shadow: 0px 4px 6px 1px rgba(100,100,100,0.5);
	border:4px double $dark-grey;
	
	-webkit-column-count: 5;
	-moz-column-count: 5;
	column-count: 5;
	-webkit-column-gap: 20px;
	-moz-column-gap: 20px;
	column-gap: 20px;
	
}
div#top-menu > ul > li > ul > li {
	-webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
	column-break-inside: avoid;
}
/* special treatment for champagne - try and make the spacing even , rather than create columns */
div#top-menu > ul > li.type\/champagne > ul {
	-webkit-column-count: 0;
	-moz-column-count: 0;
	column-count: 0;
}
div#top-menu > ul > li.type\/champagne > ul > li {
	float:left;
	margin-right:123px;
}
div#top-menu > ul > li.type\/champagne > ul > li:last-child {
	float:right;
	margin-right:0px;
}


/* add spacer in between top level list to make spacing equal */
div#top-menu > ul > li {padding-right:0px;height:22px;margin-right:80px;}
@media only screen and (max-device-width: 1024px)  {
	div#top-menu > ul > li {padding-right:0px;height:22px;margin-right:75px;}
}
div#top-menu > ul > li:last-child {float:right;}

div#top-menu ul ul ul {visibility:hidden;}
// Mouse over first level:
div#top-menu ul li:hover ul {visibility:visible;}
div#top-menu > ul > li > ul > li > a {color:$red;font-family:$ff_serif;font-size:20px;line-height:1.2em;}
div#top-menu > ul > li > ul > li > ul > li > a {font-weight:bold;}
#menu-closer {position:absolute;right:1px;top:26px;font-size:14px;}


/* Breadcrumbs */
#breadcrumbs li a {font-family:$ff_serif;text-transform:uppercase;font-size:14px;}

/* Footer */
footer#footer {background-color:none;padding:0px;font-size:18px;height:58px;border:double;border-width:4px 0;}
footer#footer ul {list-style:none;margin:23px 0;height:14px;}
footer#footer ul li {float:left;text-transform:uppercase;font-family:$ff_serif;margin-right:26px;}
footer#footer > ul > li:last-child {float:right;margin-right:0px;}


copyright {width:100%;text-align:center; font-family:$ff_serif;display:block;font-size:14px;}



/* Product details */
#product-details span.price {font-size:40px;line-height:40px;display:block;}
#product-details span.price:first-letter {font-size:24px;vertical-align:super;}
#product-description p {padding:2px 0;}

/* Hide similar items */
#taxon-crumbs {display:none;}

/* hide the taxons in the side bar by brute force for now */
div#wrapper #taxonomies {display:none;}

/* recommendations & reviews */
#recommendations, #reviews {clear:both;border-top:4px double $dark-grey;padding-top:12px;}
.recommendations-title, .reviews-title {clear:both;font-family:$ff_serif;text-transform:uppercase;font-size:14px;}

#reviews div.star-rating, #reviews div.star-rating a, div.ratings div.star-rating, div.ratings div.star-rating a {
  background: url('/assets/star-red.gif') no-repeat 0 0px
}

/* main product image */
#product-images #main-image {border:none;}
#product-images #main-image img {max-height:500px;}

#cart-form {height:150px;}

/* Properties */
table#product-properties {margin-top:24px;border:none;}
table#product-properties tr.odd, table#product-properties tr.even {background:none;}

/* silder */
div#slider .nivo-caption {right:0;height:250px;width:50%;color:#333;background:none;left:315px;}
div#slider .nivo-controlNav {right:0;bottom:0;left:auto;}

/* Search box - needs to have same zINdex as menu to allow autosuggest to be on top of the menu */
#keywords {position:relative;z-index:100;}

/* minicart styling*/
div#minicart {background-color:#eeeeee;z-index:200;}
div#minicart-footer {text-align:right;padding-right:12px;margin-top:5px;}
div#minicart table {margin:0 auto;}
div#minicart table th {text-align:center;}

/* Modal dialogs */
div.ui-dialog-titlebar {border:none;background:none;}
div.ui-dialog .dialog-content {background-color:#f1f1f1;}
#minicart-dialog a.button {color:#fff;}
#minicart-dialog a {text-decoration:none;}
#minicart-dialog div.star-rating, #minicart-dialog div.star-rating a {background: url('/assets/star-red.gif') no-repeat 0 0px}

/* shipping methods on checkout delivery page */
fieldset#shipping_method label {float:none;display:block;}

/* whishlist, gift packaging, whiskey of the month styling on product page */
#wishlist-form a, .gift-options-available a, .whiskey-of-the-month a {vertical-align:top;height:34px;line-height:34px;}
#wishlist-form span, .gift-options-available span, .whiskey-of-the-month span {height:34px;width:34px;display:inline-block;}
#wishlist-form span {background:url(product-sprite.png) no-repeat 0 0;}
#wishlist-form:hover span {background:url(product-sprite.png) no-repeat 0 -35px;}
#wishlist-form {margin-top:0px;}

.gift-options-available span {background:url(product-sprite.png) no-repeat -34px 0;}
.gift-options-available:hover span {background:url(product-sprite.png) no-repeat -34px -35px;}

.whiskey-of-the-month span {background:url(product-sprite.png) no-repeat -68px 0;}
.whiskey-of-the-month:hover span {background:url(product-sprite.png) no-repeat -68px -35px;}

/* Hide until functionality is built */
.whiskey-of-the-month {display:none;}

/* wishlists */
div#wishlist_header h1, #wishlist_header div {float:none;}
.footer_links {margin-top:24px;}
table#wishlist a, table#wishlist input[type="submit"] {background:none;border:none;color:$link_text_color;}
table#wishlist a:hover, table#wishlist input[type="submit"]:hover {color:$link_hover_color;}


/* checkout forms */
form.edit_spree_order .form-buttons {clear:both;margin-top:24px;}
#checkout-summary {margin-top:23px;}
fieldset#shipping {position:relative;}
fieldset#shipping .checkbox {position:absolute;top:15px;}
#gift_form legend {color:$dark-grey;}
#add-to-cart-button {background: $button_background_color url("cart-small-white.png") no-repeat right center;}
#add-to-cart-button:hover {background: $button_background_hover_color url("cart-small-white.png") no-repeat right center;}

/* alt table rows */
table tbody tr.alt, table tbody tr.odd, table tfoot tr.alt, table tfoot tr.odd {background-color:#efefef;}


/* product tiles */
ul#products li .product-image {padding:5px; background-color:white;min-height:110px;border:none;}
ul#products li .product-image:hover {border:none;}
a.product-tile-name {font-family:$ff_serif; color:$product_title_text_color;font-size:16px;line-height:1.1em; font-weight:normal;}
a.add-to-cart {background: $button_background_color url("cart-small-white.png") no-repeat right center;padding:3px 22px 3px 8px;}
a.add-to-cart:hover {background: $button_background_hover_color url("cart-small-white.png") no-repeat right center;}


ul#products li {border:solid #fff;border-width:1px 0px 1px 0px;padding:4px 0;}
ul#products li:hover {border-color:#e8d8ce;}

/* hide a few bits and pieces for demo */
div.ratings {display:none;}
div.gift-options-available {display:none;}
div#product-price h6 {display:none;}

/* gift packaging mockup */
#gift-packaging-mockup li {height:95px;line-height:95px;vertical-align:middle;float:left;width:280px;margin-left:10px;}
#gift-packaging-mockup li img {vertical-align:middle;margin-right:8px;}
#gift-packaging-mockup li input {margin-right:8px;}
#gift-packaging-mockup li:hover {cursor: hand; cursor: pointer;}
