body {background-color:#eee;}
#header h1 {left:44%;}
#header h1 a {color:#4884BD;}
#header #logo {top:10px;}
#header, #admin-menu, #login-nav a {color:#fff;font-weight:bold;}
#login-nav a:hover, #admin-menu a:hover {text-decoration:underline;}


tr.orange td {background-color:orange;}