<div id="empty-cart" style="width:100%;" data-hook>

    <%= link_to t(:continue_shopping), '/', :class => 'continue button', :style => 'float:left;' %>
	<%= link_to t(:empty_cart), empty_cart_path, :method => :put, :class => 'button' , :style => 'float:left;margin-right:12px;' %>
    <%= link_to t(:checkout), checkout_path, :class => 'button checkout primary large', :id => 'checkout-link', :style => 'float:right;' %>

</div>
