<% if current_user %>
  <li><%= link_to t(:my_account), spree.account_path %></li>
  <li><%= link_to t(:logout), spree.destroy_user_session_path %></li>
	<% if current_user && (current_user.has_role?("admin") || current_user.has_role?("retailer")) %>
		<li id="link-to-admin" data-hook><%= link_to "Admin", admin_path %></li>
	<% end %>
<% else %>
  <li id="link-to-login"><%= link_to t(:login), spree.login_path %></li>
<% end %>
