<style>
	#minicart-dialog .ui-icon {display:inline;}
	#minicart-dialog a.button {color:#fff;}
	#minicart-dialog div.price {font-size:36px;line-height:36px;color:#aaa;font-weight:bold}
	#minicart-dialog div.price:first-letter {font-size:28px;vertical-align:super;}
</style>

<script>
$(function() {
	// a workaround for a flaw in the demo system (http://dev.jqueryui.com/ticket/4375), ignore!
	$( "#dialog:ui-dialog" ).dialog( "destroy" );
	
	$("#minicart-dialog").dialog({
		autoOpen: false,
		height: 500,
		width: 500,
		modal: true,
		title: ""
	});

});
</script>
<div id="minicart-dialog">
	<h2>Thank You for Adding to Your Cart!</h2>
	<div id="minicart-inner">
		<%= render :partial => "spree/shared/minicart_inner", :locals => {:product => @product} %>
	</div>
	<div style="margin:24px auto auto 160px;">
		<%= link_to t(:continue_shopping), 'javascript:$("#minicart-dialog").dialog("close")', :class => 'button large' %><br /><br />
    	<%= link_to t(:view_shopping_cart), cart_path, :class => 'button large', :id => 'checkout-link' %>
	</div>
</div>
