<div class="product-image" style="float:left;width:180px;margin-top:24px;">
	<%= product_image(product, :itemprop => "name", :style => "float:right;text-decoration:none;" ) %>
</div>
<div class="minicart-product">
	<h3><%= sanitize(product.name, :tags => %w(sup)) %></h3>
	<div class="minicart-product-description">
	<%= product.description.html_safe %>
	</div>

	<div class="price selling" itemprop="price"><%= number_to_currency product.price %></div>
</div>
<div class="clearfix"></div>
